.ufunctions {
    border-radius: 8px;
    border: 3px solid #212121;
    display: flex;
    color: #b3b3b3;
    display: block;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 8px;
}

.button-functions {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    color: #b3b3b3;
    transition: color 0.2s ease;
}

.listen.active {
    color: #3ec945;
    font-variation-settings: 'FILL' 1;
}

.fav.active {
    color: #d43b3b;
    font-variation-settings: 'FILL' 1;
}

.q.active {
    color: #3BADE1;
    font-variation-settings: 'FILL' 1;
}

.function-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-text {
    padding-top: 2px;
    transition: color 0.1s ease;
}

.function-button:hover .button-text {
    color: #FFFFFF;
}

.rating-container {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #212121;
    border-bottom: solid 2px #212121;
}

.review-box {
    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 10px;
    color: white;
    resize: none;
    background-color: #212121;
    flex-grow: 1;
}

.save-area {
    display: flex;
    justify-content: space-between;
}

.error-text {
    color: #d43b3b;
    width: 188px;
}

.save-review-button {
    padding: 6px 10px 6px 10px;
    height: 32px;
    margin: 4px;
    background-color: #3BADE1;
    color: #121212;
    border-radius: 10px;
}
