.album-cover:hover {
    filter: blur(3px);
}
.album-menu:hover {
    opacity: 1;
}

.album-card:hover {
    background: #535353;
    cursor: pointer;
}
.album-card {
    width: 198px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    position: relative;
    background: #121212;
    transition: background ease 0.2s;
}
.album-card.max {
    height: 374px;
    width: 374px;
}
.album-card.large {
    height: 267px;
}
.album-card.small {
    height: fit-content;
}
.album-card.review {
    height: 247px;
}
.album-card .tiny {
    height: 112px;
}
.album-card.large .album-menu {
    bottom: 79px;
}
.album-card.small .album-menu {
    bottom: 10px;
}
.album-card.review .album-menu {
    bottom: 59px;
}
.album-card::before {
    border-radius: 8px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid transparent;
    transition: border-color 0.2s ease;
    z-index: 2;
}
.album-card:hover::before {
    border-color: white;
}
.album-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 8px;
}

.album-cover {
    width: 100%;
    margin: 0;
    padding: 0;
    aspect-ratio: 1;
    object-fit: cover;
    transition: filter 0.3s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    clip-path: inset(0 0 0 0 round 8px);
}
    .album-cover .tiny {
        height: 112px;
        width: 112px;
    }
    .album-cover.max {
        height: 374px;
        width: 374px;
    }

.album-info {
    padding: 12px 8px 8px 8px;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
}

.album-title, .album-artist {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis (...) */
    display: block;
    width: 100%; /* Ensure it takes the full width */
}
.album-artist {
    color: #b3b3b3;
}

.album-menu {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;

}
.album-menu.tiny {
    transform-origin: center;
    transform: scale(0.7);
    position: relative;
}
.album-menu.max {
    bottom: 16px;
}

.album-card:hover .album-cover {
    filter: blur(1px);
}
.album-card:hover .album-menu {
    opacity: 1;
}
.album-card.tiny:hover .album-cover {
    filter: none;
}
.icon {
    color: white;
    transition: color 0.2s ease;
    font-size: 36px;
    padding: 8px 8px 8px 8px;
    background: rgba(0, 0, 0, 0.4);
}
.listen {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.q {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.listen.active {
    color: #3ec945;
    font-variation-settings: 'FILL' 1;
    font-weight: bold;
}

.fav.active {
    color: #d43b3b;
    font-variation-settings: 'FILL' 1;
    font-weight: bold;
}

.q.active {
    color: #3BADE1;
    font-variation-settings: 'FILL' 1;
    font-weight: bold;
}
.activity {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
}
.activity-profile-pic {
    height: 32px;
    width: 32px;
    margin: 8px;
    border-radius: 100vh;
}
