.display-button {
    box-sizing: border-box;
}
.display-button::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
    z-index: 6;
}
.display-button:hover::before {
    border-color: white;
}
.display-container {
    display: flex;
    width: 340px;
}
.album-cover, .default-cover {
    width: 100px;
    height: 100px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
}
.default-cover {
    background: #212121;
    outline: 1px solid #535353;
}
.album-cover-container {
    position: relative;
    height: 100px;
    padding: 0px;
    margin: 0px;
}
.album-cover-container:nth-child(1) {
    z-index: 5;
}
.album-cover-container:nth-child(2) {
    z-index: 4;
    transform: translateX(-40px);
}
.album-cover-container:nth-child(3) {
    z-index: 3;
    transform: translateX(-80px);
}
.album-cover-container:nth-child(4) {
    z-index: 2;
    transform: translateX(-120px);
}
.album-cover-container:nth-child(5) {
    z-index: 1;
    transform: translateX(-160px);
}
