<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3e7b93d2-a769-480e-b332-cf3512921ced/resourceGroups/AlbumDatabaseServer20240902230401ResourceGroup/providers/Microsoft.Web/sites/waveformd</ResourceId>
    <ResourceGroup>AlbumDatabaseServer20240902230401ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://waveformd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b0ff879d-4bfc-4ed8-96f8-0f6d82380d2b</ProjectGuid>
    <PublishUrl>https://waveformd.scm.azurewebsites.net/</PublishUrl>
    <UserName>$waveformd</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>