::deep #youtube-video iframe {
    width: 800px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
}
.container {
    max-width: 1280px;
    padding: 64px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 8px;
    background: linear-gradient(to bottom, #212121, #121212 20%), #121212;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    gap: 12px;
    flex-direction: column;
}
.header-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 430) {
    ::deep #youtube-video iframe {
        width: 350px;
        height: 197px;
    }
}
@media screen and (max-width: 768px) {
    ::deep #youtube-video iframe {
        width: 500px;
        height: 281px;
    }
}

@media screen and (max-width: 1024px) {
    ::deep #youtube-video iframe {
        width: 90%;
    }
}

@media screen and (max-width: 1600px) {
    ::deep #youtube-video iframe {
        width: 90%;
    }
}
.username-text {
    color: #3BADE1;
    text-decoration: underline;
    text-underline-offset: 6px;
}
.logo {
    height: 32px;
    width: auto;
}
.text-welcome {
    margin-top: 16px;
    font-weight: 100;
}
.text {
    margin-top: 48px;
    margin-bottom: 2px;
    color: #b3b3b3;
    font-weight: 100;
}
.divider {
    border: 1px solid #212121;
    margin: 0;
    padding: 0;
}
.video-container {
    display: flex;
    align-content: center;
    align-items: center;
}
.video {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.activity-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.activity-card {
    display: flex;
    flex-direction: column;
}
.trending-carousel-container
{
    display: flex;
    justify-content: center;
}
.review-info {
    padding: 0px 2px 0px 2px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    color: #b3b3b3;
}
.star-container {
    display: flex;
    cursor: default;
}
.star {
    font-size: 14px;
    font-variation-settings: 'FILL' 1;
    font-weight: bold;
}
.review {
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}
.review:hover {
    color: white;
}
.review-date-text {
    font-size: 14px;
    margin-left: auto;
    text-align: right;
}
.review-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
}
.review-panel {
    display: flex;
    flex-direction: column;
}
.review-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.review-header {
    display: flex;

}
.divider.review {
    margin: 0px 12px 0px 12px;
}
.popular-artists-container {
    width: 100%;
}
.artists-container {
    padding: 32px 32px 0px 32px;
    display: flex;
    gap: 32px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.artist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-content: center;
    align-items: center;
    cursor: pointer;
}
.artist-text {
    transition: color 0.2s ease;
}
.artist:hover .artist-text {
    color: #3bade1;
}
.img-wrapper {
    position: relative;
    border-radius: 100vh;
    display: inline-block;
}
.artist-img {
    border-radius: 100vh;
    object-fit: cover;
    height: 90px;
    width: 90px;
    display: block;
}
    .img-wrapper::before {
        border-radius: 100vh;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 2px solid transparent;
        transition: border-color 0.2s ease;
        z-index: 2;
    }
    .img-wrapper:hover::before {
        border-color: white;
    }
.queue-card-container {
    display: flex;
    justify-content: center;
}
.list-card-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.list-card {
    max-width: 340px;
}
.list-info {
    padding: 2px;
}
.list-title {
    margin-top: 2px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits to 3 lines */
    -webkit-box-orient: vertical;
}
.list-title:hover {
    cursor: pointer;
    color: #3bade1;
}
.list-author {
    display: flex;
    gap: 8px;
    margin-top: 4px;
    align-content: center;
    align-items: center;
}
.list-author:hover {
    cursor: pointer;
}
.list-author-pic {
    border-radius: 100vh;
    height: 24px;
    width: 24px;
    object-fit: cover;
}
.author-text {
    color: #b3b3b3;
}
.author-text:hover {
    color: #3bade1;
}