.body {
    background: linear-gradient(to bottom, #212121, black);
    height: 25vh;
    justify-content: center;
}
.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-item {
    padding-right: 30px;
}
.profile-item .edit-button {
    background-color: #535353;
    padding: 10px;
    border-radius: 5px;
}

.profile-image {
    transform-origin: center;
    transform: scale(0.5);
    overflow: hidden;
    margin: -24px;
}
.profile-tray {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin: 0 auto;
    max-width: fit-content;
}
.profile-tab {
    color: #b3b3b3;
    padding: 8px;
    margin: 0px 8px 0px 8px;
    position: relative;
    transition: color ease 0.3s;
}
.tab-content {
    max-width: fit-content;
    margin: 32px auto;
    justify-content: center;
}
.active {
    color: white;
}
.record-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
}
.count-text {
    color: #b3b3b3;
}