.body {
    background: linear-gradient(to bottom, #212121, black);
    height: 25vh;
    justify-content: center;
}
.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-item {
    padding-right: 30px;
}
.profile-item .edit-button {
    background-color: #535353;
    padding: 10px;
    border-radius: 5px;
}
.profile-picture {
    display: flex;
    position: relative;
    padding: 0;
    height: 100px;
    width: 100px;
    border-radius: 100vh;
    background: black;
    margin: 24px;
}
.edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 36px;
    opacity: 0;
    transition: opacity ease 0.1s;
}
    .edit.edit-text {
        font-size: 12px;
        margin-top: 32px;
        width: 100px;
        cursor: default;
        text-align: center;
    }
.profile-picture:hover .profile-image.logged-in {
    opacity: 0.5;
}
.profile-picture:hover .edit {
    opacity: 1;
    z-index: 2;
}
.profile-picture.logged-in:hover {
    cursor: pointer;
}
.profile-image {
    height: 100px;
    transition: opacity ease 0.1s;
    border-radius: 100vh;
}
.profile-tray {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin: 0 auto;
    max-width: fit-content;
}
.profile-tab {
    color: #b3b3b3;
    padding: 8px;
    margin: 0px 8px 0px 8px;
    position: relative;
    transition: color ease 0.3s;
}
.tab-content {
    max-width: fit-content;
    margin: 32px auto;
    justify-content: center;
}
.active {
    color: white;
}
.record-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
}
.count-text {
    color: #b3b3b3;
}