.result {
    display: flex;
    padding: 16px;
    border-radius: 10px;
    transition: background-color ease 0.3s;
}
.result:hover{
    background-color: #212121;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.queue-button {
    color: #3BADE1;
    transform: scale(200%);
    position: absolute;
    z-index: 1;
}
.queue-button:hover {
    color: #67c5f0;
}
.result-info {
    padding-left: 32px;
    flex-grow: 1;
}
.result-name {
    padding-bottom: 16px;
    white-space: nowrap;
}
.result-year {
    color: #535353;
    padding-left: 16px;
}
.name-date {
    display: flex;
}
.result-year:hover {
    color: #434343;
    cursor: pointer;
}
.result-divider {
    border: 1px solid;
    color: #212121;
    margin-top: 16px;
    margin-bottom: 16px;
}
.link-album, .link-artist {
    text-decoration: none;
    color: inherit;
    margin: 0px;
    padding: 0px;
}
.link-album:hover, .link-artist:hover {
    color: #b3b3b3;
    cursor: pointer;
}
.rating-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 64px;
}
