@page "/queue"

<div class="container">
    <h1 class="queue-header">Your Queue</h1>
    <hr class="divider" />
    <div class="queue-container">
        <h4>
            <a href="Identity/Account/Login">Log in</a>
            or
            <a href="Identity/Account/Register">Create an account</a>
            to start adding to your queue!
        </h4>
        </div>
</div>

@code {

}
