@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div style="color-scheme:dark">
    <AuthorizeView>
        <Authorized>
                <div class="profile-container">
                    <button class="profile-button" @onclick="NavToProfile">
                        <div class="profile-icon">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                        </div>
                        @context.User.Identity?.Name
                    </button>
                    <div class="dropdown-menu">
                        <a href="Identity/Account/Manage">Manage Account</a>
					    <form method="post" action="Identity/Account/LogOut">
						    <button type="submit" class="nav-link btn btn-link">Log out</button>
					    </form>
                    </div>
                </div>
                @*             <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
                *@            
                @* <div class="item">
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>
                </div> *@
        </Authorized>
        <NotAuthorized>
            <a href="Identity/Account/Register">Register</a>
            <a> / </a>
            <a href="Identity/Account/Login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
@code {
	private void NavToProfile()
	{
		NavigationManager.NavigateTo("/profile");
	}
}
    


