@inherits LayoutComponentBase

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>AlbumDatabaseServer</PageTitle>

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Album Collection Database
        <MudSpacer></MudSpacer>
        <LoginDisplay />
        @* <a href="https://docs.microsoft.com/aspnet/" target="_blank" style="margin-left: 20px;">About</a> *@
        <button class="item">
            <span>
                Albums
            </span>
        </button>
        <button class="item">
            <span>
                Lists
            </span>
        </button>
        <button class="item">
            <span>
                Members
            </span>
        </button>
        <button class="item">
            <span class="material-symbols-outlined">
                queue_music
            </span>
            <span style="padding-left: 5px;">Your Queue</span>
        </button>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
<style>
    .transparent-container {
        background-color: transparent;
    }
    .item {
        margin-inline: 15px;
        color: #b3b3b3;
    }
</style>

<MudThemeProvider Theme="@customTheme" />

@code {
    bool _drawerOpen = true;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    MudTheme customTheme = new MudTheme()
    {
        Palette = new PaletteDark()
        {
            Background = "000000",
            Primary = "FFFFFF",
            Secondary = "212121",
            Tertiary = "535353",
            TextPrimary = "FFFFFF",
            Surface = "121212",
            DrawerBackground = "121212",
            DrawerText = "FFFFFF",
            AppbarBackground = "121212",
            AppbarText = "FFFFFF",
            TableHover = "212121",
            Success =  "0066ff",
            
        },
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Circular Std Black", "sans-serif" }
            },
        }
    };

}
@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
